<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b>Rubén Darío Rodrigo, Vividor
</b>

<i>I am interested in data science because i like data and i think it will be my future job</i>

<h3>Pyton</h3>

In [4]:
1+1

2

In [ ]:
<table>
    <tr>
        <td><s>Numero</s></td>
        <td><s>links</s></td>
        
    <tr>
        <td> <ul>
        <li>
        1
        </li>
        <li>
        2
        </li>
        </ul>
        </td>
        <td colspan="2">
            alegria
    </tr>
 </table>